@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&family=Poppins:wght@200;600&family=Roboto:ital,wght@0,100;0,700;1,100;1,500&display=swap');
            
:root{
    --base: #000;
    --spacing: 10px;
    --blur: 5px;
}

img{
    width: 300px;
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
}
body{
    text-align:center;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
    font-size:30px;
    color:#fff;
}
h2{
    font-size: 50px;
}
.controls{
    margin-bottom: 50px;
}
            
input{
    width: 100px;
}